{% extends 'base.html' %}

{% block title %}Comfirm sign up | Private Diary{% endblock %}

{% block active_login %}active{% endblock %}

{% block contents %}
    <div class="container">
        <div class="row">
            <div class="my-div-style">
                <h1>ユーザー登録</h1>

                {% if confirmation %}

                    <p>ユーザー登録を確定するには、以下のボタンを押してください</p>

                    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">

                        {% csrf_token %}

                        <button class="btn btn-primary" type="submit">確定</button>

                    </form>

                {% else %}

                    {% url 'account_email' as email_url %}

                    <p>リンクの有効期限が過ぎています。<a href="{{ email_url }}">再申請</a>.</p>

                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
