{% extends 'base.html' %}

{% block title %}403エラー | Private Diary{% endblock %}


{% block contents %}
    <div class="container">
      <div class="row">
        <div class="my-div-style w-100">
            <h1>アクセス権限がありません。</h1>
        </div>
      </div>
    </div>
{% endblock %}