{% extends 'base.html' %}

{% load static %}

{% block title %}日記更新 | Private Diary{% endblock %}

{% block active_diary_list %}active{% endblock %}

{% block contents %}
    <div class="container">
        <div class="row">
            <div class="my-div-style w-100">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="table">
                        {{ form.as_table }}
                    </table>
                    <button class="btn btn-primary" type="submit">更新</button>
                    <a class="btn btn-secondary ml-2" href="{% url 'diary:diary_detail' object.pk %}">キャンセル</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}